<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Font Family</title>
    <link rel="stylesheet" href="semantic.min.css">
    <link rel="stylesheet" href="index.css">
    <script src='semantic.min.js'></script>
  </head>
  <body>
    <div class="container">
      <div class="ui inverted  menu">
        <a class="item">文案列表</a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

