<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Font Family</title>
    <link rel="stylesheet" href="semantic.min.css">
    <link rel="stylesheet" href="index.css">
    <script src='semantic.min.js'></script>
  </head>
  <body>
    <div class="container">
      <div class="ui inverted  menu">
        <a class="item active">文案列表</a>
        <a class="item">查看原页面 </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class='input-unit'>
          <i class="repeat icon"></i>
          <div class="ui input">
            <input type="text" placeholder="Search...">
          </div>
        </div>
        <div  class='input-unit'>
          <i class="repeat icon"></i>
          <i class="repeat icon"></i>
          <div class="ui input">
            <input type="text" placeholder="Search...">
          </div>
        </div>
        <div class="btn-block">
          <div class="ui inverted segment">
            <button class="ui inverted pink button active">生成新页面</button>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>

